.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-modal);
}

.modal-content {
  border-radius: 8px;
  padding: auto;
  width: 500px;
  max-width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  z-index: var(--z-index-modal);
}

.modal-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.modal-close-icon:hover {
  color: #000;
}